# Análisis de Datos

El Book tiene como objetivo hacer una exploración de datos, para esto se lo realiza con una archivo de economía naranja

In [4]:
import pandas as pd

## 1. Estructura, tipos de datos y sintaxis

### Carga de información

* Carga del archivo mtcars

In [11]:
mtcars = pd.read_csv('mtcars.csv')
mtcars.head(5)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

* Carga del archivo de Economía Naranja

In [12]:
orangeec = pd.read_csv('orangeec.csv')
orangeec.head()

,Country,GDP PC,GDP US bill,GDP Growth %,Services % GDP,Creat Ind % GDP,Inflation,Unemployment,% pop below poverty line,Internet penetration % population,Median age,% pop 25-54,Education invest % GDP
0,Argentina,20900,637.7,2.9,60.9,3.8,25.7,8.1,25.7,93.1,31.7,39.38,5.9
1,Belize,8300,1854.0,0.8,62.2,NaN,1.1,10.1,41.0,52.3,22.7,36.62,7.4
2,Bolivia,7500,37.1,4.2,50.0,NaN,2.8,4.0,38.6,78.6,24.3,37.48,7.3
3,Brazil,15600,2055000.0,1.0,72.8,2.6,3.4,11.8,4.2,70.7,32.0,43.86,5.9
4,Chile,24500,277.0,1.5,64.3,2.2,2.2,7.0,14.4,77.5,34.4,43.08,4.9

### Tipo de datos en el Dataset

Vamos a entender que tipo de datos tiene nuestro Dataset

* Datos de mtcars

In [10]:
mtcars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
model    32 non-null object
mpg      32 non-null float64
cyl      32 non-null int64
disp     32 non-null float64
hp       32 non-null int64
drat     32 non-null float64
wt       32 non-null float64
qsec     32 non-null float64
vs       32 non-null int64
am       32 non-null int64
gear     32 non-null int64
carb     32 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

* Datos de Economía naranja

In [14]:
orangeec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 13 columns):
Country                              17 non-null object
GDP PC                               17 non-null int64
GDP US bill                          17 non-null float64
GDP Growth %                         17 non-null float64
Services % GDP                       17 non-null float64
Creat Ind % GDP                      11 non-null float64
Inflation                            17 non-null float64
Unemployment                         17 non-null float64
% pop below poverty line             17 non-null float64
Internet penetration % population    17 non-null float64
Median age                           17 non-null float64
% pop 25-54                          17 non-null float64
Education invest % GDP               17 non-null float64
dtypes: float64(11), int64(1), object(1)
memory usage: 1.8+ KB

### Sumary de datos

Entendiendo la estadística de nuestros datos

In [15]:
mtcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [16]:
orangeec.describe()

,GDP PC,GDP US bill,GDP Growth %,Services % GDP,Creat Ind % GDP,Inflation,Unemployment,% pop below poverty line,Internet penetration % population,Median age,% pop 25-54,Education invest % GDP
count,17.000000,1.700000e+01,17.000000,17.000000,11.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,14052.941176,1.886930e+05,2.958824,62.635294,3.290909,4.364706,6.794118,27.652941,68.417647,28.276471,39.878824,5.082353
std,6624.303515,5.555371e+05,1.370246,8.311885,2.007712,5.756077,2.489345,13.411055,17.274194,3.893830,2.638077,1.380777
min,5600.000000,1.370000e+01,0.800000,50.000000,1.000000,0.400000,2.300000,4.200000,38.200000,22.100000,34.120000,2.800000
25%,8300.000000,3.710000e+01,2.000000,56.900000,2.000000,1.600000,5.500000,21.700000,57.700000,25.700000,39.230000,4.400000
50%,13300.000000,7.570000e+01,2.800000,62.200000,2.600000,3.400000,6.700000,25.700000,69.700000,28.200000,40.190000,5.000000
75%,19900.000000,3.092000e+02,4.200000,64.900000,3.950000,4.300000,8.100000,32.700000,79.900000,31.300000,41.080000,5.900000
max,25400.000000,2.055000e+06,5.400000,82.000000,7.400000,25.700000,11.800000,59.300000,93.100000,35.000000,44.030000,7.400000

### Transformación de datos

* Vamos a realizar una conversión de datos del dataset mtcars el campo de wt (peso), que esta en libras

In [20]:
mtcars['wt'] = (mtcars['wt'] * 1000)/2
mtcars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,1310.0,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,1437.5,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,1160.0,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,1607.5,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,1720.0,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,1730.0,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,1785.0,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,1595.0,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,1575.0,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,1720.0,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,1720.0,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,2035.0,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,1865.0,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,1890.0,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,2625.0,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,2712.0,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,2672.5,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,1100.0,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,807.5,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,917.5,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,1232.5,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,1760.0,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,1717.5,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,1920.0,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,1922.5,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,967.5,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,1070.0,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,756.5,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,1585.0,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,1385.0,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,1785.0,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,1390.0,18.60,1,1,4,2